*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*HEADER*/



body{
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
        "header header header header"
        "main main main main"
        "main main main main"
        "footer footer footer footer"
    ;
}

/*boostrap*/

.container-fluid{
    --bs-gutter-x:0;
}

.row{
    display:block;
    --bs-gutter-x:0;
}


@media (min-width: 1704px) and (max-width: 8000px) {

/*header*/

#foto-header{
    width: 70%;
}

#links{
    width: 30%;
}

header {
    background-color: #5c758c;
    height: 18%;
    width: 100%;
    grid-area: cabecera;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: header;
} 

.menu li a:hover{
    border-bottom: solid 5px white;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}
header ul{
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 75px;
}

header li{
    padding: 5px;
    width: 500px;
    display: inline;
    align-self: center;
    
}

header a{
    color: black;
    text-decoration: none;
    background-color: rgba(87, 87, 87, 0.685);
    font-size: 20px;
    text-decoration: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 4px;
    text-decoration: none;
    font-size: 20px;
}

.header-resposive{
    display: none;
}  

/*main*/

main{
    height: auto;
    grid-area: main;
}

/*INDEX*/

.texto-inicio{
    width: 700px;
    margin: 20px;
}

#main-index{
    background-image: url(../fotos/Frentefondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    left: 0;
    padding: 5vh;
}

#index-texto{
    background: transparent;
    backdrop-filter: blur(5px);
    width: 740px;
    padding: 10px;
    text-align: justify;
    color: rgb(247, 247, 247);
}

/*matriceria*/

#matriceria{
    padding-left: 15px;
    background-color: 	#cfe2f3;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

#textoMatriceria{
    width: 50%;
    color: black;
    background-color: #bcbcbc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: max-content;
    text-align: justify;
    padding: 25px;
    text-align: justify;
    flex-shrink: 4;
    margin-top: 1vh;
}

.imgMatriceriaP{
    height: 50%;
    width: 50%;
    text-align: center;
    height: auto;
    flex-grow: 1;
    margin-bottom: 3vh;
    margin-top: 4vh;
}

.imgMatriceriaP img{
    border: 5px solid 	#bcbcbc;
    box-sizing: border-box;
}

.imgMatriceriaS{
    height: 50%;
    width: 50%;
    text-align: center;
    height: 50%;
    flex-grow: 1;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.imgMatriceriaS img{
    border: 5px solid 	#bcbcbc;
    box-sizing: border-box;

}

.imgMatriceriaT{
    text-align: center;
    height: 50%;
    width: 50%;
    flex-grow: 1;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.imgMatriceriaT img{
    border: 5px solid 	#bcbcbc;
    box-sizing: border-box;

}

#listaMatriceria{
    padding-left: 35px;
}

#matriceria p{
    display: inline;
    font-family: 'Roboto', sans-serif;
    
}

.palabraNegrita{
    text-decoration: solid;
    font-weight:bold;
}

/*INYECCION*/

#inyeccion{
    padding-left: 15px;
    background-color: #cfe2f3;
}

.textoInyeccion{
    width: 60%;
    text-align: justify;
    line-height: 1.6;
    padding: 25px;
    float: left;
    margin: 30px;
    background-color: #bcbcbc;
    border-radius: 10px;
    color: black;
    text-align: justify;
}

.imagen1{
    display: inline-block;
    width: 30%;
    margin: 30px;
    text-align: center;
}

.imagen1 img{
    border: 5px solid #bcbcbc;
    box-sizing: border-box;
}

.imagen2{
    display: inline-block;
    width: 30%;
    margin: 30px;
    text-align: center;
}

.imagen2 img{
    border: 5px solid #bcbcbc;
    box-sizing: border-box;
}

.imagen3{
    display: inline-block;
    width: 30%;
    text-align: center;
    
}

.imagen3 img{
    border: 5px solid #bcbcbc;
    box-sizing: border-box;
}

.imagen4{
    display: inline-block;
    width: 30%;
    margin: 22px;
    text-align: center;
}

.imagen4 img{
    border: 5px solid #bcbcbc;
    box-sizing: border-box;
}

/*Soplado*/

#Soplado{
    padding-left: 15px;
    background-color: #cfe2f3;
    height: 62.6%;
}

.textoSoplado{
    width: 45%;
    float: left;
    margin-top: 10%;
    padding: 25px;
    background-color: #bcbcbc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: black;
    text-align: justify;
}

.imgSoplado{
    display: inline-block;
    width: 35%;
    margin-top: 7%;
    margin-left: 20%;
}

.imgSoplado img{
    width: 300px;
    height: 300px;
    border: 5px solid #bcbcbc;
    box-sizing: border-box;
}

/*CONTACTANOS*/

#contactanos{
    font-family: 'Roboto', sans-serif;
    background-color: #cfe2f3;
    display: flex;
    flex-wrap: wrap;
    height: 70%;
}

#contactoHub{
    text-align: center;
    width: 850px;
    font-size: 20px;
    font-weight:300;
    align-items: center;
    justify-content: space-between;
}

#mapa{
    text-align: center;
    font-size: 20px;
    width: 50%;
    margin: 40px;

}



/*FOOTER*/

footer{
    background-color: #5c758c;
    font-size: 17px;
    height: auto;
    padding-left: 7px;
    font-family: 'Roboto', sans-serif;
    grid-area: footer;
}

footer div{
    color:#cfe2f3;
}

footer a{
    color: 	#cfe2f3;
    text-decoration: none;
}

}

@media (min-width: 1031px) and (max-width: 1703px)  {

/*header*/



header {
    background-color: #5c758c;
    height: 18%;
    width: 100%;
    grid-area: cabecera;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: header;
} 

.menu li a:hover{
    border-bottom: solid 5px white;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}
header ul{
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    list-style: none;
    display: flex;
    margin-left: 75px;
    align-items: center;
    position: relative;
}

header li{
    padding: 5px;
    display: inline;
    align-self: center;
    
}

header a{
    color: black;
    text-decoration: none;
    background-color: rgba(87, 87, 87, 0.685);
    font-size: 20px;
    text-decoration: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 4px;
    text-decoration: none;
    font-size: 20px;
}

.header-resposive{
    display: none;
}  

#foto-header{
    width: 40px;
}

#foto-header img{
    width: 35vh;
}

#links{
    width: max-content;
    position: absolute;
    right: 0;
}

/*main*/

main{
    height: auto;
    grid-area: main;
}

/*INDEX*/

.texto-inicio{
    margin: 5px;
    font-size: 2vh;
    width: 70vh;
}

#main-index{
    background-image: url(../fotos/Frentefondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    left: 0;
    padding: 5vh;
}

#index-texto{
    background: transparent;
    backdrop-filter: blur(5px);
    width: 75vh;
    padding: 10px;
    text-align: justify;
    color: rgb(247, 247, 247);
}

#index-texto H1{
    font-size: 6vh;
}


/*matriceria*/

#matriceria{
    padding-left: 15px;
    background-color: 	#cfe2f3;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

#textoMatriceria{
    width: 50%;
    color: black;
    background-color: #bcbcbc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: max-content;
    text-align: justify;
    padding: 25px;
    text-align: justify;
    flex-shrink: 4;
    margin-top: 1vh;
}

.imgMatriceriaP{
    height: 50%;
    width: 50%;
    text-align: center;
    height: auto;
    flex-grow: 1;
    margin-bottom: 3vh;
    margin-top: 4vh;
}

.imgMatriceriaP img{
    border: 5px solid 	#bcbcbc;
    box-sizing: border-box;
}

.imgMatriceriaS{
    height: 50%;
    width: 50%;
    text-align: center;
    height: 50%;
    flex-grow: 1;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.imgMatriceriaS img{
    border: 5px solid 	#bcbcbc;
    box-sizing: border-box;

}

.imgMatriceriaT{
    text-align: center;
    height: 50%;
    width: 50%;
    flex-grow: 1;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.imgMatriceriaT img{
    border: 5px solid 	#bcbcbc;
    box-sizing: border-box;

}

#listaMatriceria{
    padding-left: 35px;
}

#matriceria p{
    display: inline;
    font-family: 'Roboto', sans-serif;
    
}

.palabraNegrita{
    text-decoration: solid;
    font-weight:bold;
}

/*INYECCION*/

#inyeccion{
    padding-left: 15px;
    background-color: #cfe2f3;
}

.textoInyeccion{
    width: 60%;
    text-align: justify;
    line-height: 1.6;
    padding: 25px;
    float: left;
    margin: 30px;
    background-color: #bcbcbc;
    border-radius: 10px;
    color: black;
    text-align: justify;
}

.imagen1{
    display: inline-block;
    width: 40%;
    margin: 20px;
    text-align: center;
}

.imagen1 img{
    border: 5px solid #bcbcbc;
    box-sizing: border-box;
}

.imagen2{
    display: inline-block;
    width: 40%;
    margin: 20px;
    text-align: center;
}

.imagen2 img{
    border: 5px solid #bcbcbc;
    box-sizing: border-box;
}

.imagen3{
    display: inline-block;
    width: 40%;
    margin: 20px;
    text-align: center;
    
}

.imagen3 img{
    border: 5px solid #bcbcbc;
    box-sizing: border-box;
}

.imagen4{
    display: inline-block;
    width: 40%;
    margin: 20px; 
    text-align: center;
}

.imagen4 img{
    border: 5px solid #bcbcbc;
    box-sizing: border-box;
}

/*Soplado*/

#Soplado{
    padding-left: 15px;
    background-color: #cfe2f3;
    height: 62.6%;
}

.textoSoplado{
    width: 45%;
    float: left;
    margin-top: 10%;
    padding: 25px;
    background-color: #bcbcbc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: black;
    text-align: justify;
}

.imgSoplado{
    display: inline-block;
    width: 35%;
    margin-top: 7%;
    margin-left: 20%;
}

.imgSoplado img{
    width: 300px;
    height: 300px;
    border: 5px solid #bcbcbc;
    box-sizing: border-box;
}

/*CONTACTANOS*/

#contactanos{
    font-family: 'Roboto', sans-serif;
    background-color: #cfe2f3;
    display: flex;
    flex-wrap: wrap;
}

#contactoHub{
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight:300;
    align-items: center;
    align-content: center;
}

#info{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#mapa{
    text-align: center;
    font-size: 20px;
    width: 100%;
}

#mapa iframe{
    width: 50%;
} 

/*FOOTER*/

footer{
    background-color: #5c758c;
    font-size: 17px;
    height: auto;
    padding-left: 7px;
    font-family: 'Roboto', sans-serif;
    grid-area: footer;
}

footer div{
    color:#cfe2f3;
}

footer a{
    color: 	#cfe2f3;
    text-decoration: none;
}


}

@media (max-width: 1030px)  {

/*header*/

.header-resposive .container-fluid{
    flex-wrap:nowrap;
}

.menu{
    display: none;
}

.header-resposive{
    display: flexbox;
}

header button{
    margin-right: 5vh;
}

#foto-header{
    margin-left: 1vh;
    width: 50%;
}

#foto-header img{   
    height: 5vh;
    width: 20%;
    min-width: 200px;
}

#links{
    width: max-content;
}

header {
    background-color: #5c758c;
    height: auto;
    width: 100%;
    min-width: 320px;
    grid-area: cabecera;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: header;
} 

.menu li a:hover{
    border-bottom: solid 5px white;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}
header ul{
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    list-style: none;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

header li{
    width: 500px;
    display: block;
    width: 100%;
    margin: 1vh 0px;
    border-radius: 3px;
    border: 5px solid  rgb(87, 87, 87);
    background-color: #5c758c;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    text-align: center;
}

header a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 1vh;
    text-decoration: none;
    font-size: 2vh;
    width: 100%;
}

/*main*/

main{
    height: 100%;
    grid-area: main;
}

/*INDEX*/

.texto-inicio{
    font-size:  1vh;
    height: auto;
    text-align: justify;
}

#main-index{
    background-image: url(../fotos/Frentefondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    padding: 2vh;
    display: flex;
    height: 100%;
    align-items: center;
}

#index-texto{
    background: transparent;
    backdrop-filter: blur(3px);
    width: 100vh;
    height: max-content;
    padding-top: 50vh;
    padding: 2px;
    color: rgb(247, 247, 247);
}

#index-texto H1{
    font-size: 2vh;
}


/*matriceria*/

#matriceria{
    padding: 5px;
    background-color: 	#cfe2f3;
    height: auto;
    display:inline-block;
}

#textoMatriceria{
    width: 100%;
    color: black;
    background-color: #bcbcbc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: max-content;
    text-align: justify;
    text-align: justify;
    flex-shrink: 4;
    padding: 2vh;
}

.imgMatriceriaP{
    height: 50%;
    width: 100%;
    text-align: center;
    height: auto;
    flex-grow: 1;
    margin-bottom: 3vh;
    margin-top: 4vh;
}

.imgMatriceriaP img{
    border: 5px solid 	#bcbcbc;
    box-sizing: border-box;
}

.imgMatriceriaS{
    height: 50%;
    width: 100%;
    text-align: center;
    height: auto;
    flex-grow: 1;
    margin-bottom: 3vh;
    margin-top: 4vh;
}

.imgMatriceriaS img{
    border: 5px solid 	#bcbcbc;
    box-sizing: border-box;

}

.imgMatriceriaT{
    height: 50%;
    width: 100%;
    text-align: center;
    height: auto;
    flex-grow: 1;
    margin-bottom: 3vh;
    margin-top: 4vh;
}

.imgMatriceriaT img{
    border: 5px solid 	#bcbcbc;
    box-sizing: border-box;

}

#listaMatriceria{
    padding-left: 35px;
}

#matriceria p{
    display: inline;
    font-family: 'Roboto', sans-serif;
    
}

.palabraNegrita{
    text-decoration: solid;
    font-weight:bold;
}

/*INYECCION*/

#inyeccion{
    padding: 2vh;
    height: max-content;
    background-color: #cfe2f3;
}

.textoInyeccion{
    width: 100%;
    padding: 25px;
    float: left;
    background-color: #bcbcbc;
    border-radius: 10px;
    color: black;
    text-align: justify;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.imagen1{
    padding: 2vh;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.imagen1 img{
    border: 5px solid #bcbcbc;
    box-sizing: border-box;
}

.imagen2{
    padding: 2vh;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.imagen2 img{
    border: 5px solid #bcbcbc;
    box-sizing: border-box;
}

.imagen3{
    padding: 2vh;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.imagen3 img{
    border: 5px solid #bcbcbc;
    box-sizing: border-box;
}

.imagen4{
    padding: 2vh;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.imagen4 img{
    border: 5px solid #bcbcbc;
    box-sizing: border-box;
}

/*Soplado*/

#Soplado{
    background-color: #cfe2f3;
    height: max-content + auto ;
}

.textoSoplado{
    padding: 3vh;
    margin: 3vh;
    float: left;
    background-color: #bcbcbc;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: black;
    text-align: justify;
}

.imgSoplado{
    display: inline-block;
    width: 100%;
    padding: 3vh;
    text-align: center;
}

.imgSoplado img{
    width: 300px;
    height: 300px;
    border: 5px solid #bcbcbc;
    box-sizing: border-box;
}

/*CONTACTANOS*/

#contactanos{
    font-family: 'Roboto', sans-serif;
    background-color: #cfe2f3;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: max-content;
}

#contactoHub{
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight:300px;
    align-items: center;
    align-content: center;
}

input.areaTexto{
    width: calc(33.5vh / 2);
}

textarea.areaTexto{
    height: 33.5vh;
    width: 33.5vh;
}

#info{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#mapa{
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 100%;
}

#mapa iframe{
    width: 33.5vh;
    height: 33.5vh;
} 

/*FOOTER*/

footer{
    background-color: #5c758c;
    font-size: 1.2vh;
    height: auto;
    min-width: 320px;
    padding-left: 7px;
    font-family: 'Roboto', sans-serif;
    grid-area: footer;
    text-decoration: none;
}

footer div{
    color:#cfe2f3;
}

footer a{
    color: 	#cfe2f3;
    text-decoration: none;
}


}