*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    body{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,1fr);
        grid-template-areas: 
            "header header header header"
            "main main main main"
            "main main main main"
            "footer footer footer footer";
        .container-fluid{
            --bs-gutter-x:0;
        }
        .row{
            display:block;
            --bs-gutter-x:0;
        }
        main{
            height: auto;
            grid-area: main;
            img{
                border: 5px solid #bcbcbc;
                box-sizing: border-box;
                transition: transform 0.8s;
                -webkit-transition: transform 0.8s;
                -moz-transition: transform 0.8s;
                -ms-transition: transform 0.8s;
                -o-transition: transform 0.8s;
                &:hover{
                    transform: scale(1.2);
                    -webkit-transform: scale(1.2);
                    -moz-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                    -o-transform: scale(1.2);
}
            }
        }
      }
}
        @media (max-width: 1030px){
            main{
                height: 100%;
                grid-area: main;
            }
        }


@mixin button{
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    cursor: pointer;
}

@mixin green{
    &:hover {
        background-color: rgb(187, 238, 187);
        border: 3px solid green;
      }
      &:active {
        background-color: green;
        background-image:url(../fotos/tick_icon.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30%;
        color: transparent;
        transition: 100ms;
        -webkit-transition: 100ms;
        -moz-transition: 100ms;
        -ms-transition: 100ms;
        -o-transition: 100ms;
        }
}
@mixin red{
    &:hover {
        background-color: rgb(241, 165, 165);
        border: 3px solid red;
        }
      &:active {
        background-color: rgb(255, 0, 0);
        background-image:url(../fotos/trash_icon.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20%;
        color: transparent;
        transition: 100ms;
        -webkit-transition: 100ms;
        -moz-transition: 100ms;
        -ms-transition: 100ms;
        -o-transition: 100ms;
    }
}




