@media (min-width:1704px) and (max-width: 8000px){
    #contactanos{
        font-family: 'Roboto', sans-serif;
        background-color: #cfe2f3;
        display: flex;
        flex-wrap: wrap;
        height: 70%;
        #contactoHub{
            text-align: center;
            width: 850px;
            font-size: 20px;
            font-weight:300;
            align-items: center;
            justify-content: space-between;
        }
        #mapa{
            text-align: center;
            font-size: 20px;
            width: 50%;
            margin: 40px;
        }
            .tick{
                @include button;
                @include green;
            }
            .basura{
                @include button;
                @include red;
            }
    }
}
@media (min-width: 1031px) and (max-width: 1703px) {
    #contactanos{
        font-family: 'Roboto', sans-serif;
        background-color: #cfe2f3;
        display: flex;
        flex-wrap: wrap;
        #contactoHub{
            text-align: center;
            width: 100%;
            font-size: 20px;
            font-weight:300;
            align-items: center;
            align-content: center;
            #info{
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
            }
        }
        #mapa{
            text-align: center;
            font-size: 20px;
            width: 100%;
            iframe{
                width: 50%;
            }
        }
        .tick{
            @include button;
            @include green;
        }
        .basura{
            @include button;
            @include red;
        }
    }
}
@media (max-width: 1030px){
    #contactanos{
        font-family: 'Roboto', sans-serif;
        background-color: #cfe2f3;
        display: flex;
        flex-wrap: wrap;
        width: auto;
        height: max-content;
        #contactoHub{
            text-align: center;
            width: 100%;
            font-size: 20px;
            font-weight:300px;
            align-items: center;
            align-content: center;
            #info{
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
            }
        }
        #mapa{
            text-align: center;
            font-size: 20px;
            width: 100%;
            height: 100%;
            iframe{
                width: 33.5vh;
                height: 33.5vh;
            } 
        }
        input.areaTexto{
            width: calc(33.5vh / 2);
        }
        textarea.areaTexto{
            height: 33.5vh;
            width: 33.5vh;
        }
        .tick{
            @include button;
            @include green;
        }
        .basura{
            @include button;
            @include red;
        }
    }
}